{% include 'top.html' %}
    
<div id="content">
    <h1 class="page-title">Travel Time stats</h1>
    {% if session['isadmin'] == True %}
        <div style="float: left;">
            <button class="pure-button" style="float: center;"><a href="{{ url_for('add_path_segment') }}" class="pure-menu-link">Add path segment</a></button>
        </div>
    {% endif %}
    <br/>
    <table class="pure-table">
        <thead>
            <tr>
               {% if session['isadmin'] == True %}
                <th> Delete </th>
                <th> startstationid </th>
                <th> endstationid </th>
                <th> expectedtraveltimeseconds </th>
                <th> stopstraversed </th>
                <th> triplegs </th>
                <th> coordinatemaplen </th>
                <th> Update </th>
               {% else %}
                <th> startstationid </th>
                <th> endstationid </th>
                <th> expectedtraveltimeseconds </th>
                <th> stopstraversed </th>
                <th> triplegs </th>
                <th> coordinatemaplen </th>
               {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for item in traveltimes %}
            <tr>
                {% if session['isadmin'] == True %}
                    <td> 
                        <button class="pure-button"> <a href="{{ url_for('delete_path_segment', startid=item.startstationid, endid=item.endstationid) }}" class="pure-menu-link">Delete</a></button>
                    </td>
                {% endif %}

                <!-- <form name="{{item['userid']}}_form" class="Update" method="POST" action="{{url_for('update_user')}}">
                    <input type="hidden" id="userid" name="userid" value="{{item['userid']}}" />
                    <td><b> {{item['userid']}} </b></td>
                    <td> <input type="text" id="firstname" name="firstname" value="{{item['firstname']}}" placeholder="{{item['firstname']}}">
                    </td>
                    <td> <input type="text" id="lastname" name="lastname" value="{{item['lastname']}}" placeholder="{{item['lastname']}}">
                    </td>
                    <td> <input type="number" id="userroleid" name="userroleid" value="{{item['userroleid']}}" placeholder="{{item['userroleid']}}">
                    </td>
                    <td> <input type="password" id="password" name="password" value="{{item['password']}}" placeholder="{{item['password']}}">
                    </td>
                    <td> <button class="pure-button pure-button-primary" type="submit">Update</button>
                    </td>
                </form> -->

                <td><b>{{ item['startstationid'] }}</b></td>
                <td>{{ item['endstationid'] }}</td>
                <td>{{ item['expectedtraveltimeseconds'] }}</td>
                <td>{{ item['stopstraversed'] }}</td>
                <td>{{ item['triplegs'] }}</td>
                <td>{{ item['coordinatemaplen'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>